<div class="demo-panel">
  <div>
    <label>Items</label>
    <input
      type="range"
      min="1"
      max="5000"
      value="50"
      (input)="setItemAmount(inputAmount.value)"
      #inputAmount>
    <span>{{ inputAmount.value }}</span>
  </div>
  <div>
    <label>Nesting</label>
    <input
      type="range"
      min="1"
      max="200"
      value="5"
      (input)="setItemNesting(inputNesting.value)"
      #inputNesting>
    <span>{{ inputNesting.value }}</span>
  </div>
  <div>
    <label>unaffected items</label>
    <input
      type="range"
      min="0"
      max="5000"
      value="0"
      (input)="setUnAffectedItemAmount(inputUnAffectedAmount.value)"
      #inputUnAffectedAmount>
    <span>{{ inputUnAffectedAmount.value }}</span>
  </div>
  <div>
    <label for="blank">display: none</label>
    <input
      type="checkbox"
      #checkDisplayNone
      (change)="setItemVisibility(checkDisplayNone.checked)"
      id="blank">
  </div>
  <div>
    <label for="dummyStyles">dummy styles</label>
    <input
      type="checkbox"
      #dummyStyles
      (change)="dummyStyles.checked ? addDummyRules() : removeDummyRules()"
      id="dummyStyles">
  </div>
  <div>
    <label for="matchingStyles">matching styles</label>
    <input
      type="checkbox"
      #matchingStyles
      (change)="matchingStyles.checked ? addMatchingRules() : removeMatchingRules()"
      id="matchingStyles">
  </div>
  <div>
    <textarea></textarea>
  </div>
  <div>
    <div><strong>Toggle Items</strong></div>
    <button (click)="toggleItems()">toggle active</button>
    <button (click)="toggleItemsNestedInner()">toggle nested (inner)</button>
    <button (click)="toggleItemsNestedOuter()">toggle nested (outer)</button>
  </div>
  <div>
    <div><strong>Toggle Wrapper</strong></div>
    <button (click)="toggleWrapper()">toggle active</button>
    <button (click)="toggleWrapperNestedInner()">toggle nested (inner)</button>
    <button (click)="toggleWrapperNestedOuter()">toggle nested (outer)</button>
  </div>
</div>
<div class="container">
  <div id="item-wrapper"
       class="item-wrapper">
    <div
      *ngFor="let item of items; let i = index"
      class="item">
      <span class="content">{{ i }}</span>
      <nested class="nesting" [depth]="nestings"></nested>
    </div>
  </div>
  <div class="unaffected-wrapper">
    <div class="unaffected-item"
         *ngFor="let item of unAffectedItems; let i = index">
      <span class="content">{{ i }}</span>
      <nested class="nesting" [depth]="nestings"></nested>
    </div>
  </div>
</div>

