* {
  box-sizing: border-box;
}
.demo-panel {

}


.item-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 50%;
}

.item-wrapper.hide-items .item {
  display: none;
}

.item-wrapper.active .item {
  font-weight: bold;
  /* TODO: make it adjustable via component to showcase more styles add more work */
  /*color: blue;*/
  /*transform: rotate(20deg);*/
  background-color: rgba(255, 192, 203, .2);
}

.item {
  width: 50px;
  height: 50px;
  border: 1px solid green;
  transition: border-color 125ms ease-in, color 125ms ease-in;
  position: relative;
}

.span.content {
  z-index: 1;
}

.nesting {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(226, 96, 255, 0.02);
  z-index: 0;
}

.item-wrapper.active-inner .item .nesting.inner {
  background-color: deeppink;
}

.item-wrapper.active-outer .item .nesting.outer {
  background-color: deeppink;
}

.nesting.active {
  background-color: deeppink;
}

.item.active {
  font-weight: bold;
  /*color: blue;*/
  /*transform: rotate(20deg);*/
  background-color: rgba(255, 192, 203, .2);
}

.item:hover {
  border-color: #0b0bcf;
  color: #b62121;
}

.unaffected-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  width: 50%;
}

.unaffected-item {
  /*visibility: hidden;*/
  width: 50px;
  height: 50px;
  border: 1px solid green;
  position: relative;
}
